VITE_SUPABASE_URL=https://gusjprwukttyvdmidrgz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1c2pwcnd1a3R0eXZkbWlkcmd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MjA2MjcsImV4cCI6MjEwNDM5NjYyN30.aLgGcs-wEni1X7NkAbRt_TECjdNU4Sz2OExs_0w4IS0
